*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

div{
    margin: 50px 400px;
    background-color: white;
    background-image: url("obraz.jpg");
    background-repeat: repeat-y;
    background-position: center;
    border: 2px dashed black;
}

p{
    margin-bottom: 25px;
}