*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body{
    background: rgb(45,207,16);
background: radial-gradient(circle, rgba(45,207,16,1) 0%, rgba(180,255,172,1) 100%);
}

#wrapper{
    max-width: 1000px;
    background-color: rgb(191, 253, 202);
    margin: 125px auto 0 auto;
    border-radius: 25px;
    box-shadow: 4px 4px 3px gray;
}

h1{
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid rgb(12, 75, 0);
}

footer{
    background-color: rgb(117, 255, 112);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.back{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.back:hover{
    font-style: oblique;
    color: green;
    font-weight: bold;
}

.gallery{
    margin: 20px 90px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}