*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body{
    background-image: url(grafika/cool-background.png);
    background-size: cover;
    background-position: 3000px;
}

#wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto 50px auto;
    background-color: rgb(204, 255, 202);
    border-radius: 25px;
}

#topheader{
    width: 100%;
    text-align: center;
    height: 75px;
    color: rgb(0, 80, 0);
    padding-top: 15px;
}

hr{
    border: 1px solid green;
    width: 75%;
    position: relative;
    left: 125px;
}

h2{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

article{
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    line-height: 20px;
}

.firstPlace h2{
    position: relative;
    left: 500px;
}

.thirdPlace h2{
    position: relative;
    left: 425px;
}

.fifthPlace h2{
    position: relative;
    left: 450px;
}

.secondPlace h2{
    position: relative;
    left: 350px;
}

.fourthPlace h2{
    position: relative;
    left: 150px;
}

.firstPlace img, .thirdPlace img{
    float: left;
    width: 20%;
    border-radius: 10px;
}

.firstPlace article{
    margin-bottom: 60px;
}

.firstPlace p{
    padding-left: 210px;
    padding-top: 30px;
}

.secondPlace img{
    float: right;
    width: 20%;
    border-radius: 10px;
}

.secondPlace article{
    margin-bottom: 60px;
}

.secondPlace p{
    padding-right: 230px;
    padding-top: 30px;
}

.thirdPlace article{
    margin-bottom: 60px;
}

.thirdPlace p{
    padding-left: 260px;
    padding-top: 30px;
}

.thirdPlace img{
    margin-top: 85px;
    margin-left: 15px;
    width: 25%;
}

.fourthPlace article{
    margin-bottom: 60px;
}

.fourthPlace p{
    padding-right: 230px;
    padding-top: 30px;
}

.fourthPlace img{
    width: 22%;
    float: right;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}

.fifthPlace img{
    margin-left: 15px;
    margin-top: 55px;
    width: 25%;
    float: left;
    border-radius: 10px;
}

.fifthPlace p{
    padding-left: 260px;
    padding-top: 20px;
}

footer{
    height: 50px;
    background-color: rgb(178, 255, 175);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}

a{
    display: block;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    color: black;
}

a:hover{
    font-style: oblique;
    color: green;
    font-weight: bold;
}