*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body{
    background-color: lightblue;
}

#wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.header_img{
    display: block;
    float: left;
    width: 100%;
}

.text{
    background-color: darkblue;
    color: white;
    text-align: center;
}

.menu{
    float: left;
    display: block;
    width: 50%;
    background-color: lightcyan;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.active{
    text-decoration: underline;
}

.menu:hover{
    text-decoration: underline;
    background-color: aqua;
}

section h1{
    display: inline-block;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}

.article_img{
    float: left;
    width: 12%;
    margin: 0 10px 0 10px;    
}   

article{
    background-color: white;
    padding: 15px 15px 15px 25px;
    line-height: 20px;
}